html {
  font-size: 10px; /* makes the font size 10px  */
  font-family: "Uchen", sans-serif; /* decides the font for the entire page */
}

h1 {
  font-size: 60px;
  text-align: center; /*  This moves the header text to the center of the page  */
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #3FBFBF; /* this changes the background colour of the webpage */
}

body {
  width: 650px; /*  Defines the width of the body */
  margin: 0 auto; /* sets the distance of the body from the sides of the page. the first value is for the top and bottom, and the second value is for the sides. */
  background-color: white; /* Defines the background colour of the body */
  padding: 0 20px 20px 20px; /* Puts some space between the content and the body's edge, making it more readable  */
  border: 5px solid black; /* Defines the size and colour of the border around the body */
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F; /*  changes the colour of header text */
  text-shadow: 3px 3px 1px black; /*  adds a shadow to the header text, and determines the position of the shawdow */
}

img {
  width: 250px; /*  Defines the width of my image */
  height: 100px; /* Defines the height of my image  */
  display: block; /*  Somehow allows the image to center properly, otherwise I don't how this works */
  margin: 0 auto; /*  Centers the image within my body  */
}